<form action="/doregister" method="post">
    <div class="row mt-5">
        <div class="col-8 offset-2">
            <h2 class="text-center">Φόρμα εγγραφής νέου χρήστη</h2>
        </div>
    </div>
    <br>
    <div class="row mt-1">
        <div class="col-6 offset-3">
            <div class="form-floating">
                <input type="text" class="form-control {{#if message.username}} is-invalid {{/if}}"
                    value="{{message.username.value}}" name="username" id="form-username" placeholder="Όνομα χρήστη"
                    required="required" autofocus>
                <label class="form-label" for="form-username">Όνομα χρήστη</label>
                <div class="invalid-feedback">
                    {{message.username.msg}}
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-6 offset-3">
            <div class="form-floating">
                <input type="password" class="form-control {{#if message.password}} is-invalid {{/if}}"
                    value="{{message.password.value}}" name="password" id="form-password"
                    placeholder="Συνθηματικό χρήστη" required="required">
                <label class="form-label" for="form-password">Συνθηματικό χρήστη</label>
                <div class="invalid-feedback">
                    {{message.password.msg}}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6 offset-3">
            <div class="form-floating">
                <input type="password" class="form-control {{#if message.password-confirm}} is-invalid {{/if}}"
                    value="" name="password-confirm" id="form-password-confirm"
                    placeholder="Επιβεβαίωση συνθηματικού χρήστη" required="required">
                <label class="form-label" for="form-password-confirm">Επιβεβαίωση συνθηματικού χρήστη</label>
                <div class="invalid-feedback">
                    {{message.password-confirm.msg}}
                </div>
            </div>
        </div>
    </div>

    {{#if message.username}}
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="alert alert-primary" role="alert">
                {{message.username.msg}}
            </div>
        </div>
    </div>
    {{/if}}

    <div class="row mt-5">
        <div class="col-6 offset-3">
            <button type="submit" class="btn btn-primary login-btn btn-block w-100">Εγγραφή</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 offset-3 text-center">
            <a href="/">Φόρμα είσοδου</a>
        </div>
    </div>

</form>